@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&family=Heebo&family=Inter&family=Julee&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 15px;
}


.flexContainer {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    height: 1400px;
    justify-content: center;  
    align-items: center;
    text-align: center;
    
}

.card {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
    padding: 36px;
    cursor: pointer;
  }
.card:hover {
    scale: 1.02;
}
.cardTitle {
    font-family: 'Big Shoulders Display';
    font-size: 25px;
    color: black;
    font-weight: 800;
    text-align: center;
}
.cardText {
    font-family: 'Heebo';
    color:black;
    text-align: center;

}


.img {
    width: 100%px;
    height: 200px;
}


.attribution { 
    font-size: 11px; 
    text-align: center;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}


.button:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #fff;
    color:black;
}
.buttonLink:hover {
    color: #fff;
    
}

@media screen and (max-width: 780px) {
    .flexContainer {
        gap: 15px
    }
    .card.suvs, .card.luxury, .card.sedans {
        border-radius: 10px;
    }
    .attribution {
        margin-top: 400px;
    }
}

@media screen and (max-width: 534px) {
    .attribution {
        margin-top: 850px;
    }
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 400px;
    gap: 20px; 
    margin-left: 75px;
    margin-bottom: 50px;
  }
  
  
  

  